# IS362 - Project One

This project has three tasks:

(1) Create a .CSV file (or optionally, a MySQL database!) that includes all of the information below. You may change
the structure of the information as you like.

(2) Read the information from your .CSV file into pandas, and perform analysis to compare the arrival delays for the
two airlines.

(3) Your code should be in a Jupyter (IPython) notebook (in GitHub), and should include narrative descriptions of your
analysis and conclusions.

The first step in accomplishing these tasks was creating the csv, flightinfo.csv, which can be found in this repository. 

Next, I will import the pandas module, as that will be the module we will be using to accomplish the tasks:

In [6]:
import pandas as pd

Now we can use pandas to read the data contained in the csv file:

In [14]:
flightinfo = pd.read_csv("C:/Users/Jessica/Desktop/John's School/IS362/IS362_Project1/flightinfo.csv")

We can use .head() to examine the first five rows of the data:

In [15]:
flightinfo.head()

     ArrivalCity  AlaskaOnTime  AlaskaDelayed  AMWestOnTime  AMWestDelayed
0    Los Angeles           497             62           694            117
1        Phoenix           221             12          4840            415
2      San Diego           212             20           383             65
3  San Francisco           503            102           320            129
4        Seattle          1841            305           201             61

We can see now the number of on time flights versus the number of delayed flights for each airline, and for each arrival city. We want to analyze these values in order to compare the arrival delays for the two airlines. In order to begin, we will want to know the total number of flights for each airline.

We can use .insert() to add two columns to our data frame, one for the total number of Alaska flights, and one for the total number of AM West flights:

In [18]:
flightinfo.insert(3, 'AlaskaTotalFlights', flightinfo.AlaskaOnTime + flightinfo.AlaskaDelayed)
flightinfo.insert(7, 'AMWestTotalFlights', flightinfo.AMWestOnTime + flightinfo.AMWestDelayed)

We can view our data to make sure the columns are appearing as expected:

In [21]:
flightinfo

,ArrivalCity,AlaskaOnTime,AlaskaDelayed,AlaskaTotalFlights,AMWestOnTime,AMWestDelayed,AMWestTotalFlights
0,Los Angeles,497,62,559,694,117,811
1,Phoenix,221,12,233,4840,415,5255
2,San Diego,212,20,232,383,65,448
3,San Francisco,503,102,605,320,129,449
4,Seattle,1841,305,2146,201,61,262

Now we want to examine the rates of the arrival delays. Because the different arrival cities have different numbers of flights, we can't analyze the data by simply saying "AM West had more delayed flights to Los Angeles" because they also had a greater number of fights overall. We want to look at percentages.

We can do this by using .insert() again, this time to add two new columns to our data frame that will calculate the rate of delays for each airline, and each arrival city:

In [25]:
flightinfo.insert(4, 'AlaskaDelayRates', (flightinfo.AlaskaDelayed / flightinfo.AlaskaTotalFlights) * 100)
flightinfo.insert(8, 'AMWestDelayRates', (flightinfo.AMWestDelayed / flightinfo.AMWestTotalFlights) * 100)

Let's view our new data frame:

In [26]:
flightinfo

,ArrivalCity,AlaskaOnTime,AlaskaDelayed,AlaskaTotalFlights,AlaskaDelayRates,AMWestOnTime,AMWestDelayed,AMWestTotalFlights,AMWestDelayRates
0,Los Angeles,497,62,559,11.091234,694,117,811,14.426634
1,Phoenix,221,12,233,5.150215,4840,415,5255,7.897241
2,San Diego,212,20,232,8.620690,383,65,448,14.508929
3,San Francisco,503,102,605,16.859504,320,129,449,28.730512
4,Seattle,1841,305,2146,14.212488,201,61,262,23.282443

Now that we've got the delay rates for both airlines, let's examine them side by side:

In [31]:
delayrates = flightinfo[['ArrivalCity', 'AlaskaDelayRates', 'AMWestDelayRates']]
delayrates

     ArrivalCity  AlaskaDelayRates  AMWestDelayRates
0    Los Angeles         11.091234         14.426634
1        Phoenix          5.150215          7.897241
2      San Diego          8.620690         14.508929
3  San Francisco         16.859504         28.730512
4        Seattle         14.212488         23.282443

When examining the delay rates side by side, we can see that AM West's delay rates are higher than Alaska's delays rates for each of the five arrival cities.

# Conclusion

AM West has a higher rate of delays than Alaska for all five of the destinations we are examining in this data set, making in the less reliable of the two airlines for these particular destinations.