# IS362 - Project One

This project has three tasks:

(1) Create a .CSV file (or optionally, a MySQL database!) that includes all of the information below. You may change
the structure of the information as you like.

(2) Read the information from your .CSV file into pandas, and perform analysis to compare the arrival delays for the
two airlines.

(3) Your code should be in a Jupyter (IPython) notebook (in GitHub), and should include narrative descriptions of your
analysis and conclusions.

The first step in accomplishing these tasks was creating the csv, flightinfo.csv, which can be found in this repository. 

Next, I will import the pandas module, as that will be the module we will be using to accomplish the tasks:

In [1]:
import pandas as pd

Now we can use pandas to read the data contained in the csv file:

In [3]:
flightinfo = pd.read_csv("C:/Users/Jessica/Desktop/John's School/IS362/IS362_Project1/flightinfo.csv")

We can use .head() to examine the first five rows of the data:

In [4]:
flightinfo.head()

,Unnamed: 0,Unnamed: 1,Los Angeles,Phoenix,San Diego,San Francisco,Seattle
0,Alaska,On Time,497,221,212,503,1841
1,NaN,Delayed,62,12,20,102,305
2,AM West,On Time,694,4840,383,320,201
3,NaN,Delayed,117,415,65,129,61